# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Environments
.env
venv/

# jupyter notebooks
.ipynb_checkpoints/
infographics-checkpoint.ipynb

# Other
api.json
stats.json
csv/
json/
*.png
*.exe
*.log
.idea/